.navbar{
    /* margin-top: 75px; */ /* Might need this */
    background: #2a2c34;
    border: 3px solid;
    width: 18vw;
    animation-name: menu-size-increase;
    animation-duration: 1s;
    height: 60vh;
    padding: 0%;
    position: absolute;
    top:0px;
    left: 0px;
}



.wrapper{
    position: relative;
}


.top-shit{
    width:100vw;
    height: 10vh;
    background: #2a2c34;
    position: absolute;
    top:0;
    left:0px;
}




@keyframes menu-size-increase {
    from {height: 0vh}
    to {height: 60vh;}
}

.modal{
    display: block;
    color: white;
    top: 10%;
    left:10%;
    padding-left: 20px;
    padding-top: 10px
}

#close-button{
    font-size: 30px;
}

#close-button:hover{
    cursor: pointer;    
}

