body{
    background-image: url("../assets/1.jpg");
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
}


input{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    width: 85%;
    height: 30px;
    border-color: gray;
    background-color: rgb(55, 43, 226);
    border-radius: 20px;
    color: white;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}


#body-div{
    margin: 10vh 30vw;
    width: 30%;
    height: 80vh;
    background-color: transparent;
    border: black solid 2px;
    /* background-color: rgba(255, 255, 255, 0.5);  */
    backdrop-filter: blur(30px); 
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}


h1{
    padding: 20px;
    text-align: center;
}

button{
    margin-left: 20px;
    width: 90%;
    border-radius: 10px;;
}